

.RoomList{
  position: relative;
}

.navbar{
  background: #dedede;
}
@media(min-width: 768px){
  .navbar{
    height: 100vh;
    padding-left: 30px!important;
    text-align:left;
}
}

.navbar-header{
  font-size: 32px;
  color: #4b4a4a;
}

.rooms-container{
  padding-top: 30px;
  padding-bottom: 15px;
}

.room{
  padding-bottom: 20px;
  font-size: 20px;
}

.rooms{
  padding: 50px 0 0 0;
  color: #979797;
}

.new-room{
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  background:#fff;
  color: #4b4a4a;
}

/*FORM*/

.new-room-modal{
  position: relative;
  z-index: 2;
}

#newRoomForm{
  position: fixed;
  top: 20%;
  left: 15%;
  width: 70%;
  background: #d8d8d8;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
}
@media(min-width:576px){
  #newRoomForm{
    left: 20%;
    width: 60%;
  }
}
@media(min-width:768px){
  #newRoomForm{
    left: 35%;
    width: 30%;
  }
}
@media(min-width:1200px){
  #newRoomForm{
    top: 30%;
    left: 40%;
    width: 20%;
  }
}

#newRoomName{
  width:100%;
}

#cancel{
  width:100%;
}

#submit{
  width:100%;
}

.textbox{
  height: 25px;
  border-radius: 2px;
  border: none;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.25);
  padding: 0 3px;
  margin-bottom:15px;
}

.new-room-title{
  color: #4b4a4a;
}

.cancel{
  background:#4b4a4a;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 3px 10px;
  font-size: 14px;
  transition: all .2s ease;
}
.cancel:hover{
  opacity: .9;
}

.submit{
  background:#fff;
  color: #4b4a4a;
  border: none;
  border-radius: 2px;
  padding: 3px 10px;
  font-size: 14px;
  transition: all .2s ease;
}
.submit:hover{
  opacity: .9;
}

/*MESSAGES*/

.active-room{
  color: #4a4a4c;
}

.messages{
  width:100%;
  border-collapse: collapse;
}

tbody:nth-child(odd) .message:nth-child(odd){
  background: #f6f7fb;
}
tbody:nth-child(even) .message{
  background: white;
}

td {
  border-spacing: none;
  padding: 10px;
  color: #4a4a4a;
}

.username{
  font-weight: bold;
  line-height: 25px;
}

.timestamp{
  text-align: right;
}

/*SUPERNAV*/

.superNav{
  position: fixed;
  height: auto;
  top: 0;
  left: 0;
  width:100%;
  z-index: 2;
}

.user{
  width: 100%;
  background: #4b4a4a;
  padding: 15px;
  position: relative;
}

.log-in-out{
  padding: 0 20px;
  color: #fff;
}

.account{
  text-align:right;
}

.signin-signout{
  background:#fff;
  color: #4b4a4a;
  border: none;
  border-radius: 2px;
  padding: 3px 10px;
  font-size: 12px;
  transition: all .2s ease;
}
.signin-signout:hover{
  opacity: .9;
}
