.RoomList{
  position: relative;
}

.navbar{
  background: #dedede;
}
@media(min-width: 768px){
  .navbar{
    height: 100vh;
    padding-left: 30px!important;
    text-align:left;
}
}

.navbar-header{
  font-size: 32px;
}

.rooms-container{
  padding-top: 30px;
  padding-bottom: 15px;
}

.room{
  padding-bottom: 20px;
  font-size: 20px;
}

.rooms{
  padding: 0;
}

.new-room{
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
}

/*FORM*/

.new-room-modal{
  position: relative;
  z-index: 2;
}

#newRoomForm{
  position: fixed;
  top: 20%;
  left: 15%;
  width: 70%;
  background: grey;
  padding: 15px;
  border-radius: 5px;
}
@media(min-width:992px){
  #newRoomForm{
    top: 30%;
    left: 40%;
    width: 20%;
  }
}

#newRoomName{
  width:100%;
}

#cancel{
  width:100%;
}

#submit{
  width:100%;
}

/*MESSAGES*/

.messages{
  width:100%;
  border-collapse: collapse;
}

tbody:nth-child(odd) .message:nth-child(odd){
  background: lightblue;
}
tbody:nth-child(even) .message{
  background: white;
}

td {
  border-spacing: none;
  padding: 10px;
}

.username{
  font-weight: bold;
  line-height: 25px;
}

.timestamp{
  text-align: right;
}
